<div class="pastry-grid">
    <% @@cakes.each do |cake| %>
        <div class="pastry pastry<%= @@cakes.index(cake)+1 %>">

            <% if cake.vegan == true %>
                <div class="img-container">
                    <img src="<%= cake.image %>" class="pastry-img"/>
                    <img src="https://www.nicepng.com/png/full/129-1292042_inquisitive-discussion-about-veganism-on-abc-radio-veganism.png" class="vegan"/>
                </div>
            <% else %>
                <img src="<%= cake.image %>" class="pastry-img"/>
            <% end %>

            <h2 class="pastry-name"><span><%= cake.name %> Cake</h2>
            <p class="pastry-desc"><%= cake.description %></p>
            <p class="price"><b>$<%= cake.price %></b></p>
        </div>
    <% end %>
</div>

<style>
    .pastry1 .pastry-img {
        clip-path: circle(38% at 42% 46%);
        margin: 10px 13% 0;
        width: 90%;
    }

    .pastry1 .price {
        margin-top: 0px;
    }

    .pastry1 .pastry-desc {
        margin-top: 10px;
    }

    .pastry2 .pastry-img {
        clip-path: circle(38% at 50% 55%);
        margin: -155px 20% -40px;
        width: 57%;
    }

    .pastry2 .price {
        margin: -85px 0 0;
    } 
    
    .pastry2 .pastry-desc {
        margin: -143px 0 0;
    }

    .pastry3 .pastry-img {
        clip-path: circle(38% at 48% 48%);
        width: 90%;
        margin: 0px 5% 0;
    }

    .pastry3 .price {
         margin-top: -5px;
    }

    .pastry3 .pastry-desc {
        margin-top: -25px;
    }

    .vegan {
        right: 25%;
        bottom: 50%;
    }
</style>