<div class="pastry-grid">
    <% @@cookies.each do |cookie| %>
        <div class="pastry pastry<%= @@cookies.index(cookie)+1 %>">

            <% if cookie.vegan == true %>
                <div class="img-container">
                    <img src="<%= cookie.image %>" class="pastry-img"/>
                    <img src="https://www.nicepng.com/png/full/129-1292042_inquisitive-discussion-about-veganism-on-abc-radio-veganism.png" class="vegan"/>
                </div>
            <% else %>
                <img src="<%= cookie.image %>" class="pastry-img"/>
            <% end %>

            <h2 class="pastry-name"><span><%= cookie.name %> cookie</h2>
            <p class="pastry-desc"><%= cookie.description %></p>
            <p class="price">$<%= cookie.price %></p>
        </div>
    <% end %>
</div>