<div class="pastry-grid">
    <% @@muffins.each do |muffin| %>
        <div class="pastry pastry<%= @@muffins.index(muffin)+1 %>">

            <% if muffin.vegan == true %>
                <div class="img-container">
                    <img src="<%= muffin.image %>" class="pastry-img"/>
                    <img src="https://www.nicepng.com/png/full/129-1292042_inquisitive-discussion-about-veganism-on-abc-radio-veganism.png" class="vegan"/>
                </div>
            <% else %>
                <img src="<%= muffin.image %>" class="pastry-img"/>
            <% end %>

            <h2 class="pastry-name"><span><%= muffin.name %> muffin</h2>
            <p class="pastry-desc"><%= muffin.description %></p>
            <p class="price">$<%= muffin.price %></p>
        </div>
    <% end %>
</div>

<%# <style>
    .pastry1 .pastry-img {
        clip-path: circle(38% at 42% 46%);
        margin: 20px 13% 0;
        width: 90%;
    }

    .pastry2 .pastry-img {
        clip-path: circle(38% at 50% 55%);
        margin: -115px 20% -40px;
        width: 55%;
    }

    .pastry3 .pastry-img {
        clip-path: circle(38% at 48% 48%);
        width: 90%;
        margin: 20px 5% 0;
    }

    .pastry2 .price, .pastry2 .pastry-desc {
        margin: -50px 0 0;
    }
</style> %>